{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="main-substrate">
  <div class="tm-label-block">
    <div class="tm-label__round mb-4">
      <div class="tm-label__title">{{ app_config.tm_label_text }}</div>
    </div>
    <p class="text-center">
      <i>{% trans 'Скоро здесь будет мой сайт' %}</i>
    </p>
    <p class="text-center mx-4">
      А&nbsp;пока присоединяйтесь к&nbsp;моему Telegram&#8209;каналу
      <a
        href="{{ app_config.telegram_channel.link }}"
        target="_blank"
        title="{{ app_config.telegram_channel.description }}"
      >
        {{ app_config.telegram_channel.name }}
      </a>
    </p>
  </div>
</div>
{% endblock %}
